@font-face {
  font-family: 'FoglihtenNo07calt';
  src: url('../fonts/FoglihtenNo07calt.eot');
  src: url('../fonts/FoglihtenNo07calt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FoglihtenNo07calt.svg#FoglihtenNo07calt') format('svg'),
       url('../fonts/FoglihtenNo07calt.ttf') format('truetype'),
       url('../fonts/FoglihtenNo07calt.woff') format('woff'),
       url('../fonts/FoglihtenNo07calt.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FogtwoNo5';
  src: url('../fonts/FogtwoNo5.eot');
  src: url('../fonts/FogtwoNo5.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FogtwoNo5.svg#FogtwoNo5') format('svg'),
       url('../fonts/FogtwoNo5.ttf') format('truetype'),
       url('../fonts/FogtwoNo5.woff') format('woff'),
       url('../fonts/FogtwoNo5.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FoglihtenNo06';
  src: url('../fonts/FoglihtenNo06.eot');
  src: url('../fonts/FoglihtenNo06.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FoglihtenNo06.svg#FoglihtenNo06') format('svg'),
       url('../fonts/FoglihtenNo06.ttf') format('truetype'),
       url('../fonts/FoglihtenNo06.woff') format('woff'),
       url('../fonts/FoglihtenNo06.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FoglihtenNo07';
  src: url('../fonts/FoglihtenNo07.eot');
  src: url('../fonts/FoglihtenNo07.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FoglihtenNo07.svg#FoglihtenNo07') format('svg'),
       url('../fonts/FoglihtenNo07.ttf') format('truetype'),
       url('../fonts/FoglihtenNo07.woff') format('woff'),
       url('../fonts/FoglihtenNo07.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: 'Italiana-Regular';
//   src: url('../fonts/Italiana-Regular.eot');
//   src: url('../fonts/Italiana-Regular.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/Italiana-Regular.svg#Italiana-Regular') format('svg'),
//        url('../fonts/Italiana-Regular.ttf') format('truetype'),
//        url('../fonts/Italiana-Regular.woff') format('woff'),
//        url('../fonts/Italiana-Regular.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }



