.bs-footer {
    background-color: $clr-default;
    // background-image: url('../images/bodybg.jpg');
    border: 3px solid rgba(0, 0, 0 ,0.2);
    .main-footer{
     padding: 60px 0;
     .ctm-col{
         display: flex;
         align-items: center;
         justify-content: center;
        //  border-right: 1px solid white;
         &.typ-logo{ 
             justify-content: inherit;
         }
         &.typ-contact{
             align-items: baseline;
            //  border: none;
         }
     }
     .about-site{
         padding-top: 60px;
         font-size: 14px;
         font-family: $fnt1;
         font-weight: $font-regular;
         color:$clr-darkbrown;
         p{
             margin-bottom: 20px;
             &:last-child{
                 margin-bottom: 0;
             }
         }
         .title{
            margin-bottom: 10px;
        }
     }
        .contact-detls{
            p{
                color: $clr-white;
                font-size: 17px;
                font-family: $fnt1;
                font-weight: $font-regular;
                margin-bottom: 15px;
            }
            a{
                display: block;
                color: $clr-white;
                font-size: 17px;
                font-family: $fnt1;
                font-weight: $font-regular;
            }
            ul{
                display: flex;
                margin-top: 15px;
                li{
                    margin-right: 25px;
                   
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            .social-links{
                ul{
                    li{
                        a{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .quick-links{
            a{
                display: block;
                color: $clr-white;
                font-size: 17px;
                font-family: $fnt1;
                font-weight: $font-regular;
                margin-bottom: 10px;
            }
            &.typ-larg-txt{
                a{
                    font-size: 24px;
                }
            }
        }
    }
    .copyryts{
        border-top: 1px solid $clr-dark;
        padding: 30px 0;
        color: $clr-white;
        font-size: 14px;
        font-family: $fnt1;
        font-weight: $font-regular;
        a{
            color: $clr-white;
            font-size: 14px;
            font-family: $fnt1;
            font-weight: $font-regular;
        }
    }
    .spacer-vertical{
        &.left{
            &.typfirst{
                margin-left: 40px;
            }
        }
    }
    &.typ-brands{
        background-color: $clr-theme-dark;
    }
}
@media only screen and (max-width: $tablet-breakpoint) {
    .bs-footer{
        .main-footer{
            padding: 50px 0;
            .ctm-col{
                margin-bottom: 40px;
                &.typ-contact{
                    margin-bottom: 0;
                    justify-content: inherit;
                }
                &.typ-three-links{
                    border: none;
                }
            }
            .contact-detls{
                display: flex;
                align-items: center;
                .social-links{
                    margin-left: 80px;
                }
            }
        }
        .spacer-vertical{
            &.left{
                &.typthird{
                    display: none;
                }
            }
        }
    }

}
@media only screen and (max-width: $mobile-breakpoint) {
    .bs-footer{
        .main-footer{
            padding: 40px 0;
            .quick-links{
                a{
                    font-size: 15px;
                    margin-bottom: 5px;
                }
                &.typ-larg-txt{
                    a{
                        font-size: 15px;
                    }
                }
            }
            .ctm-col{
                justify-content: inherit;
                margin-bottom: 30px;
                &.typ-logo{
                    // justify-content: center;
                    align-items: baseline;
                }
                &.typ-contact{
                    margin-bottom: 0;
                }
                &.typ-three-links{
                    // padding-left: 30px;
                    padding-left: 16px;
                    align-items: baseline;
                }
            }
            .contact-detls{
                // display: block;
                display: flex;
                flex-direction: column;
                a{
                    font-size: 14px;
                }
                ul{
                    li{
                        margin-right: 18px;
                    }
                }
                .social-links{
                    // margin-left: 20px;
                    margin-left: 0px;

                }
            }
        }
        .copyryts{
            padding: 20px 0;
        }
        .spacer-vertical{
            &.left{
                &.typfirst{
                    margin-left: 0;
                    // display: none;
                }
                &.typthird{
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width:320px) {
    .bs-footer .main-footer .contact-detls ul{
        flex-wrap: wrap-reverse;
    }

}