<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WML5FLH');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript)   -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WML5FLH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="bs-header typ-brands">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="index.html">
                 <img src="assets/images/logo-white.png">
                 <span>brands</span>
            </a>
            <div class="desktop-links">
                <!-- <ul class="top-links">
                    <li><a href="#home" class="first-link">cinema</a></li>
                    <li><a href="#about">portraiture</a></li>
                    <li><a href="#contact">brands</a></li>
                </ul>
                <span class="seprator"></span> -->
                <ul class="btm-links">
                    <li><a href="films-landing.html" class="first-link">films</a></li>
                    <!-- <li><a href="#about">artists</a></li> -->
                    <li><a href="blog-landing.html">blog</a></li>
                    <li><a href="about-us.html">about us</a></li>
                    <!-- <li><a href="faq.html">FAQs</a></li> -->
                    <li><a href="contact-us.html">contact</a></li>
                </ul>
            </div>

            <div class="navbar-toggler">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
            </div>
            <div >
              <ul class="navbar-nav">
                    <li><a href="films-landing.html">films</a></li>
                    <!-- <li><a href="#about">artists</a></li> -->
                    <li><a href="blog-landing.html">blog</a></li>
                    <li><a href="about-us.html">about us</a></li>
                    <!-- <li><a href="faq.html">FAQs</a></li> -->
                    <li><a href="contact-us.html">contact</a></li>
                    <!-- <li class="divider-line">
                        <div class="spacer-vertical left typfirst typ-dark">
                            <div class="mask"></div>
                          </div>
                    </li>
                    <li><a href="#home">cinema</a></li>
                    <li><a href="#about">portraiture</a></li>
                    <li><a href="#contact">brands</a></li> -->
              </ul>
            </div>
        </nav>
    </div>
</header>


    
