<script type="text/javascript" src="assets/js/vendor.js">
</script>
<script type="text/javascript" src="assets/js/custom.js"></script>

<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

<!-- <script type="text/javascript" src="assets/js/jquery.lazy.min.js"></script> -->

<!-- cdnjs -->
<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script> -->




<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XXG9P0GTVW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XXG9P0GTVW');
</script>


<!-- Global site tag (gtag.js) - Google Ads: 324713649 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-324713649"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-324713649');
</script>

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '858206111788677');
    fbq('track', 'PageView');
    </script>
    <noscript><img alt="fb" height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=858206111788677&ev=PageView&noscript=1"
    /></noscript>
<!-- End Facebook Pixel Code  -->