
<link rel="stylesheet" type="text/css" href="assets/css/custom.css">

<link rel="apple-touch-icon" sizes="57x57" href="assets/images/fav.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/images/fav.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/images/fav.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/images/fav.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/images/fav.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/images/fav.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/images/fav.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/images/fav.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/fav.png">
<link rel="icon" type="image/png" sizes="192x192"  href="assets/images/fav.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/fav.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/images/fav.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/fav.png">

<!-- additional-tags -->

<link rel="alternate" href="https://onefineday.co.in/" hreflang="en" />
<meta name=YahooSeeker content="index, follow" />
<meta name=msnbot content="index, follow" />
<meta name=googlebot content="index, follow" />
<meta name=allow-search content="yes" />
<meta name=distribution content="Global" />
<meta name=rating content="General" />
<meta name=revisit-after content="1 Days" />
<meta name=email content=hello@onefineday.co.in />
<meta name=publisher content=hello@onefineday.co.in />
<meta name="robots" content="all" />
<meta name="referrer" content="always">
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="One Fine Day" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://onefineday.co.in/" />
<meta property="og:image" content="https://creativewebo.in/clients_bk/ofd-website/assets/images/footer-logo.png" />
<meta property="og:description"
  content="Years later, to re-watch the film is to truly savor those moments, travel back in time and relive the same joy… the joy of becoming soulmates. Eternal, Elegant & Indulgent - our body of work." />
<meta property="og:site_name" content="One Fine Day" />


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WML5FLH');</script>
  <!-- End Google Tag Manager -->